<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Subs</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Sub Groups</h1>
        <a role="button" href="/posts">Home</a>
      </div>

      <% if (subs.length > 0) { %>
        <ul>
          <% subs?.sort((a, b) => a.localeCompare(b)).forEach(sub => { %>
            <li>
              <a href="/subs/show/<%= sub %>">
                <strong><%= sub %></strong> 
                (<%= sub.postCount %> post<%= sub.postCount > 1 ? 's' : '' %>)
              </a>
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        <p>No sub groups with posts found.</p>
      <% } %>
    </main>
  </body>
</html>
